<{% extends 'base.html' %}

{% block title %}{% block header %}Customers in your local zip {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }} These are the customers in your local zipcode!
{% for customer in customers %}
  <ul>
    <li><h style="fontsize: 4vw"> Name: {{customer.name}}<br>  </h>
        <h>address: {{customer.address}} <br></h>
        <h>zipcode: {{customer.zip_code}}<br></h>
        <h>pickup day: {{customer.service_day}}<br></h>
        <h>one time pick up: {{customer.one_time_day}}<br></h>
        <h>Account Active: {{customer.account_active}}<br></h>
    </li>
  </ul>
{% endfor %}
This is a list of the customer active accounts
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}