{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!


{% for customer in customers %}
  <ul>
    <li><h style="fontsize: 4vw"> Name: {{customer.name}}<br>  </h>
        <h>address: {{customer.address}} <br></h>
        <h>zipcode: {{customer.zip_code}}<br></h>
        <h>pickup day: {{customer.service_day}}<br></h>
    </li>
  </ul>
{% endfor %}
 Remember your pickups<br>

<a href="{% url 'employees:localzip_employee_monday' %}">pickups in your local zip code monday</a><br>
<a href="{% url 'employees:localzip_employee_tuesday' %}">pickups in your local zip code tuesday</a><br>
<a href="{% url 'employees:localzip_employee_wednesday' %}">pickups in your local zip code wednesday</a><br>
<a href="{% url 'employees:localzip_employee_thursday' %}">pickups in your local zip code thursday</a><br>
<a href="{% url 'employees:localzip_employee_friday' %}">pickups in your local zip code friday</a><br>
<a href="{% url 'employees:localzip_employee_saturday' %}">pickups in your local zip code saturday</a><br>
<a href="{% url 'employees:localzip_employee_sunday' %}">pickups in your local zip code sunday</a><br>
<a href="{% url 'employees:same_service_day_employee' %}">Today's One time Pickups</a>
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}