{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Employee {{ user.username }}!<br>
Today's Date: <input type="text" value = "{% now 'y-m-d' %}"


{% for customer in customers %}
  <ul>
    <li><h style="fontsize: 4vw"> Name: {{customer.name}}<br>  </h>
        <h>address: {{customer.address}} <br></h>
        <h>zipcode: {{customer.zip_code}}<br></h>
        <h>pickup day: {{customer.service_day}}<br></h>
        <h>one time pick up: {{customer.one_time_day}}<br></h>
    </li>
  </ul>
{% endfor %}
 Remember your pickups<br>
<form action="{% url 'employees:define_day' %}" method="POST"><br>
    {% csrf_token %}
    input the day:<input type="text" name="define_day" id="define_day">
    <input type="submit" value ="submit">
    <br>
<a href="{% url 'employees:localzip_employee' %}">pickups in your local zip code today</a><br>
<a href="{% url 'employees:one_time_pick_up' %}">Today's One time Pickups</a>

  {% endif %}
{% endblock %}