{% extends 'base.html' %}
{% block title %}{% block header %}Please use this form to Change your Regular Pick Up Day {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Customer {{ user.username }}!
 {% else %}
    <p>You are at the Customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}



<div class="input-group">
  <span class="input-group-text">Usual Pick Up Day</span>
  <input type="text" aria-label="Day of Week" class="form-control"><br>
</div>
<div>
   <span class="input-group-text">Requested Pick Up Day</span>
  <input type= "text" aria-label="Day of Week" class="form-control"><br>
</div>

    <button onclick="myFunction()">Submit</button>
    <p id="demo"></p>


<script>

function myFunction() {
  document.getElementById("demo").innerHTML = "Your change request has been submitted.";
}
</script>
{% endblock %}