{% extends 'base.html' %}

{% block title %}{% block header %} Customer Information {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Customer {{ user.username }}!
Please enter your account information <br>
<div>
<form action="{% url 'customers:create' %}" method="POST">
    {% csrf_token %}
    name:<input type="text" name="name" id="name"><br>
    address:<input type="text" name="address" id="address"><br>
    zip_code:<input type="text" name="zip_code" id="zip_code"><br>
    service_day:<input type="text" name="service_day" id="service_day"><br>
 </form>
</div>
<button onclick="myFunction()">Submit</button>
    <p id="demo"></p>


<script>

function myFunction() {
  document.getElementById("demo").innerHTML = "Your account information has been submitted.";
}
</script>


  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}
