{% extends 'base.html' %}
{% block title %}{% block header %}Customer Information {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Customer {{ user.username }}!
 {% else %}
    <p>You are at the Customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}


<div class="input-group">
  <span class="input-group-text">First and last name</span>
  <input type="text" aria-label="First name" class="form-control">
  <input type="text" aria-label="Last name" class="form-control">
  <span class="input-group-text">Address</span>
  <input type= "text" aria-label="Street Number" class="form-control">
  <input type="text" aria-label="Street Name" class="form-control">
  <input type="text" aria-label="City" class="form-control">
  <input type="text" aria-label="State" class="form-control">
  <input type="text" aria-label="Zip Code" class="form-control">
  <span class="input-group-text">Requested Pick Up Date</span>
  <input type="text" aria-label="Please Chose Day of Week for Regular Pickup" class="form-control">
  <a class="btn btn-primary" href="#" role="button">Link</a>
  <input class="btn btn-primary" type="submit" value="Submit">

</div>

<p>Thank you for registering! Your information has been saved!</p>
{% endblock %}