{% extends 'base.html' %}

{% block title %}{% block header %}Please use this form to request a One Time Pick Up {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Customer {{ user.username }}!
 {% else %}
    <p>You are at the Customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}


<div class="input-group">
  <span class="input-group-text">Usual Pick Up Day</span>
  <input type="text" aria-label="Day of Week" class="form-control">
   <span class="input-group-text">Requested Pick Up Day</span>
  <input type= "text" aria-label="Day of Week" class="form-control">
  <a class="btn btn-primary" href="#" role="button">Link</a>
  <input class="btn btn-primary" type="submit" value="Submit">

</div>
<p>Your One Time Pick Up Request has been Submitted!</p>
{% endblock %}