{% extends 'base.html %}

{% block header %}Please Use This Form to Suspend Service{% endblock %}

<body>
<div class="input-group">
  <span class="input-group-text">Suspend Start Date</span>
  <input type="text" aria-label="Start Date" class="form-control">
   <span class="input-group-text">Suspend End Date</span>
  <input type= "text" aria-label="End Date" class="form-control">
  <a class="btn btn-primary" href="#" role="button">Link</a>
  <input class="btn btn-primary" type="submit" value="Submit">

</div>
<p>Your request to suspend your service has been submitted!!</p>
</body>
