{% extends 'base.html' %}
{% block title %}{% block header %}Please use this form to Suspend service {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    Hello Customer {{ user.username }}!
 {% else %}
    <p>You are at the Customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}


<body>
<div>
   
  <span class="input-group-text">Suspend Start Date</span>
  <input type="text" aria-label="Start Date" class="form-control">
 </div>
<div>
   <span class="input-group-text">Suspend End Date</span>
  <input type= "text" aria-label="End Date" class="form-control">
</div>
  <button onclick="myFunction()">Submit</button>
    <p id="demo"></p>


<script>

function myFunction() {
  document.getElementById("demo").innerHTML = "Your suspend request has been submitted.";
}
</script>

{% endblock %}
