{% extends 'base.html %}

{% block header %}Please Use This Form to Change Your Regular Pick Up Day{% endblock %}

<body>
<div class="input-group">
  <span class="input-group-text">Usual Pick Up Day</span>
  <input type="text" aria-label="Day of Week" class="form-control">
   <span class="input-group-text">Requested Pick Up Day</span>
  <input type= "text" aria-label="Day of Week" class="form-control">
  <a class="btn btn-primary" href="#" role="button">Link</a>
  <input class="btn btn-primary" type="submit" value="Submit">

</div>
<p>Your Change Request has been Submitted!</p>
</body>